body {
  margin: 0%;
  background-color: rgb(41, 41, 41);
  font-weight: 900;
}
.nav {
  background-color: red;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  border-radius: 0px 0px 90px 90px;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-style: oblique;
}

.side {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: aqua;
  color: #0004ff;
  margin: 200px 30%;
  width: 40%;
  border-radius: 30px;
}

.kk a {
  font-size: 1.3rem;
}
